
{% extends "front/base.html" %}

{% block title %}
  找回密码
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='front/css/signbase.css') }}">
  <script src="{{ url_for('static', filename='front/js/password.js') }}"></script>
{% endblock %}


{% block content %}
  <div class="outer-box">
    <div class="logo-box">
      <a href="/">
        <img src="{{ url_for('static', filename='front/images/logo.jpeg') }}" alt="">
      </a>
    </div>
    <h2 class="page-title">
      重置密码
    </h2>
    <div class="sign-box">
      <div class="form-group">
        <input type="email" class="form-control" name="email" placeholder="邮箱" style="display: inline-block;width: 67%">
          <span class="input-group-btn" style="display: inline-block">
              <button id="email-captcha-btn" class="btn btn-default">发送验证码</button>
          </span>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="email_captcha" placeholder="邮箱验证码">
      </div>
      <div class="form-group">
          <input type="password" class="form-control" name="password" placeholder="新密码">
      </div>
        <div class="form-group">
            <input type="password" class="form-control" name="reset_password" placeholder="确认新密码">
        </div>
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" name="graph_captcha" placeholder="图形验证码">
                <span class="input-group-addon captcha-addon">
                    <img src="{{ url_for('front.graph_captcha') }}" id="captcha-img" class="captcha-img">
                </span>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-warning btn-block" id="reset_btn">
                修改密码
            </button>
        </div>

    </div>
  </div>
{% endblock %}