{% extends "front/base.html" %}

{% block title %}
帖子详情
{% endblock %}

{% block head %}
<script src="{{ url_for('static', filename='lib/highlight/highlight.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='lib/highlight/styles/github-dark.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='front/css/post_detail.css') }}">
<script src="{{ url_for('static', filename='front/js/poster_detail.js') }}"></script>
{% endblock %}

{% block content %}
<div class="post-container">
      <h2>{{ poster.title }}</h2>
      <p style="font-size: 13px;color:#8c8c8c;border-bottom:1px solid #e6e6e6;margin-top: 20px;">
        <span style="margin-right: 20px">发表时间：{{ poster.create_time }}</span> |
        <span style="margin-left: 20px;margin-right: 20px;">作者：{{ poster.author.username }}</span> |
        <span style="margin-left: 20px;margin-right: 20px;">所属板块：{{ poster.border.name }}</span> |
        <span style="margin-left: 20px;">评论数： 1000</span>
      </p>
      <div class="post-content">
        {{ poster.content|safe }}
      </div>
    </div>
<div class="comment-group">
  <h3>评论列表</h3>
  <ul class="comment-list-group">
      {% for comment in poster.comments %}
    <li>
      <div class="avatar-group">
        <img src="{{ url_for('media.get_avatar', filename=comment.author.avatar) }}" alt="">
      </div>
      <div class="comment-content">
        <p class="author-info">
          <span>{{ comment.author.username }}</span>
          <span>{{ comment.create_time }}</span>
        </p>
        <p class="comment-txt">
            {{ comment.content }}
        </p>
      </div>
    </li>
      {% endfor %}
  </ul>
</div>
<div class="add-comment-group">
  <h3>发表评论</h3>
  <textarea name="comment" id="comment-textarea" style="width: 100%; resize:vertical;"></textarea>
  <div class="comment-btn-group">
    <button class="btn btn-primary" id="comment-btn" data-poster-id="{{ poster.id }}" data-user-id="{{ user.id if user else '' }}">发表评论</button>
  </div>
</div>
{% endblock %}