{% extends "front/base.html" %}

{% block title %}
个人设置
{% endblock %}

{% block head %}
<script src="{{ url_for('static', filename='front/js/setting.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='front/css/AdminLTE.css') }}">
    <script src="{{ url_for('static', filename='lib/morris/morris.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/morris/morris.css') }}">
    <script src="{{ url_for('static', filename='lib/raphael/raphael-2.3.0/raphael.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/font-awesome/font-awesome-4.7.0/css/font-awesome.min.css') }}">


    <style>
    body{
      background-color: #f3f3f3;
    }
    .setting-group {
      width: 100%;
      background-color: #ffffff;

      padding: 50px;
    }
    #avatar-img{
      width: 100px;
      height: 100px;
    }
    .main-container{
        width: 100%;
        margin-left: 10px;
    }
  </style>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
<div class="setting-group">

    <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-aqua-active">
              <h3 class="widget-user-username">{{ user.username }}</h3>
            </div>
            <div class="widget-user-image">
              <img class="img-circle" src="{{ url_for('media.get_avatar',filename=user.avatar) }}" alt="User Avatar" id="avatar-img">
            </div>
          </div>
      <form style="margin-top: 100px;">
        <div class="form-group">
          <label>邮箱:</label>
          <input style="width: 90%" type="email" class="form-control" value="{{ user.email }}" readonly>
        </div>
        <div class="form-group">
          <label>头像：</label>
          <div class="input-group">
            <input type="file" id="avatar-input" accept="image/jpeg, image/png">
          </div>
        </div>
        <div class="form-group">
          <label>个性签名:</label>
          <input type="text" class="form-control" id="signature-input" value="{{ user.signature or "" }}">
        </div>
        <button type="submit" id="submit-btn" class="btn btn-primary">保存</button>
      </form>
    </div>
        </div>
        <div class="col-md-7">
            <div class="box box-solid bg-teal-gradient">
            <div class="box-header">
              <i class="fa fa-th"></i>

              <h3 class="box-title">近7日发布帖子数</h3>

            </div>
            <div class="box-body border-radius-none">
              <div class="chart" id="line-chart" style="height: 250px;"></div>
            </div>

          </div>
            <div>
                <ul class="timeline">
            <!-- timeline time label -->
                    {% for poster in posters_list %}
            <li class="time-label">
                  <span class="bg-red">
                    {{ poster.poster_date }}
                  </span>
            </li>
            <!-- /.timeline-label -->
            <!-- timeline item -->
                    {% for i in poster.detail %}
            <li>
              <i class="fa fa-envelope bg-blue"></i>

              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> {{ i.create_time }}</span>

                <h3 class="timeline-header">{{ i.border_name }}</h3>

                <div class="timeline-body">你发布了一篇名为&lt;&lt;
                  {{ i.title }}&gt;&gt;的帖子
                </div>
              </div>
            </li>
                    {% endfor %}
                    {% endfor %}
            </ul>
            </div>

        </div>
        <div class="col-md-1"></div>
    </div>

{% endblock %}

{% block js %}
    $.widget.bridge('uibutton', $.ui.button);
{% endblock %}